<section>
    <div class="text-center">
      <div id="title">
        <h1 class="p-5">
          <b>Register</b>
        </h1>
      </div>
    </div>

    <div class="container-fluid">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        id="registerForm"
      >
        <div class="form-group col-6">
          <label for="username">Username</label>
          <input
            id = "username"
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger col-6" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must have at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username cant' have more than 20 characters
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label for="email">Email</label>
          <input
            id = "email"
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger col-6" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email structure must be valid.
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label for="password">Password</label>
          <input
            id = password
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger col-6" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must at least contain 6 characters
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>

        <div class="alert alert-warning col-6 text-center" *ngIf="f.submitted && isFaulty">
          {{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success col-6 text-center" *ngIf="isSuccessful">
          <span>Your registration is successful!</span>
      </div>
    </div>

</section>
