a {
  text-decoration: none;
  color: #7807db;
  font-weight:800;
  font-size: 12pt;
  font-kerning: inherit;
}

a:hover {
  color: #03a586;
}

h1 {
  font-size: 36pt;
}

#team {
  background: #d0ece3 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #10746f;
  border-color: #42615b;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 0 4%;
  width: 100%;
}

section .section-title, .card-header {
  text-align: center;
  color: #8aab5e;
}

#team .card {
  border: 1pt #deb4d5 solid;
  background: #cdeada;
}

.frontside .card {
  height: 275pt;
  width: 200pt;
  margin: 1%;
  float: left;
}

.frontside .card .card-title {
  color: #337b57 !important;
}

.frontside .card .card-body img {
  width: 115pt;
  height: 115pt;
  padding: 1.75%;
  border-radius: 50%;
}

.card-header .card-footer {
  background-color: orangered;
}

.card-title {
  font-size: 14pt;
  font-weight: 400;
}
.card-text {
  height: 4em;
  color: #337b57;
}

#pagination {
  margin: 2% 12%;
  clear: both;
}
