<section class="col-12 mb-4" id="team">
  <div class="container text-center col-12">
    <h1 class="p-5"><b>Releases</b></h1>
    <div *ngFor="let r of releases" class="frontside">
      <div class="card col-xs-3 col-md-3 col-lg-3 col xl-4 mt-3 .align-top inner">
        <div class="card-header text-center">
          <p *ngIf="r.label != null"><a href="{{ r.label.networks[0].url}}" target="_blank">{{r.label.name}}</a></p>
        </div>
        <div class="card-body text-center">
          <h4 *ngIf="r.artist.name.length > 15"class="card-title">{{r.artist.name | slice: 0: 11}}</h4>
          <h4 *ngIf="r.artist.name.length <= 15" class="card-title">{{r.artist.name}}</h4>
          <div *ngIf="r.artist.networks[0] == null">
            <p>
              <img class="img-fluid" src="{{r.sleeve_Design_URL}}" alt="card image"/>
            </p>
          </div>
          <div *ngIf="r.artist.networks[0] != null">
            <p>
              <a href="{{r.artist.networks[0].url}}" target="_blank">
                <img class="img-fluid" src="{{r.sleeve_Design_URL}}" alt="card image"/>
              </a>
            </p>
          </div>
          <p *ngIf="r.name.length > 15" class="card-text">{{r.name | slice: 0: 11}}...</p>
          <p *ngIf="r.name.length <= 15" class="card-text">{{r.name}}</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</section>

<div id="pagination">
  <ul *ngIf="pages" class="pagination">
    <li class="page-item" [ngClass]= "i+1===currentPage?'active':''" *ngFor="let p of pages; let i = index">
      <a class="page-link clickable" (click)="onPageRelease(i+1)">{{i+1}}</a>
    </li>
  </ul>
</div>
