<header>
  <div id="overlay"></div>
  <video id="home_video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="assets/surなみ/surなみ.mp4" type="video/mp4" />
  </video>
  <div id="tagline" class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3"><img src="assets/surなみ/surなみ_logo.png" height="450" alt="logo"/></h1>
      </div>
    </div>
  </div>
</header>


