header {
  position: relative;
  overflow: hidden;
  height: 70vh;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #290c65;
  opacity: 0.3;
  z-index: 1;
}

#home_video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}

#tagline {
  position: relative;
  z-index: 2;
}
