<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img id="logo" src="assets/surなみ/surなみ_logo.png" alt="logo">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-pills mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/map">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/releases">Releases</a>
      </li>
      <!--
     <li class="nav-item">
       <a class="nav-link" routerLink="/countries">Countries</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="/labels">Labels</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="/artists">Artists</a>
     </li>
     -->
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLogged">
      <li class="nav-item align-right">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item align-right">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLogged">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ login }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet>

</router-outlet>
