<section>
  <div class="text-center">
    <div id="title">
      <h1 class="p-5">
        <b>Login</b>
      </h1>
    </div>
  </div>

  <div class="container-fluid col-6">
      <form
        *ngIf="!isLogged"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            id = "username"
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            A login is required!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            id = "password"
            type = "password"
            class = "form-control"
            name = "password"
            [(ngModel)]="form.password"
            required
            minlength="3"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger text-center"
            role="alert"
            *ngIf="f.submitted && isAnonymous"
          >
            {{ errorMessage }}
          </div>
        </div>
      </form>

      <div class="alert alert-success text-center" *ngIf="isLogged">
        Logged in as {{ form.username }}.
      </div>
    </div>
</section>
