@import "~leaflet/dist/leaflet.css";

#title {
  font-size: 36pt;
}
.container .w-100 {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.map-container {
  position: fixed;
  top: 8em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 3em .75em;
}

#map {
  height: 80%;
}

#pagination {
  margin: 1em 25%;
}
