<div class="container w-100 align-items-center">
  <div class="map-container">
    <div class="mt-5" id="map"></div>
    <div id="pagination">
      <ul *ngIf="pages" class="pagination">
        <li class="page-item" [ngClass]= "i+1===currentPage?'active':''" *ngFor="let p of pages; let i = index">
          <a class="page-link clickable" (click)="onPageLocation(i+1)">{{i+1}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <div id="title">
      <h1 class="p-5">
        <b>Map</b>
      </h1>
    </div>
  </div>

</div>
