<div class="text-center">
  <div id="title">
    <h1 class="p-5">
      <b>{{ currentUser.username}}</b>
    </h1>
  </div>
</div>
<div class="container col-12" *ngIf="currentUser; else isAnonymous">
  <strong>Status: Registered {{currentUser.roles}}</strong>
</div>
<ng-template #isAnonymous>
  Please login.
</ng-template>
